<div class="row">
    <div class="col-lg-6">
        <h4>Expense Form</h4>
        <form [formGroup]="expenseForm">
          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title">
              @if (expenseForm.get('title')?.hasError('required') && expenseForm.get('title')?.touched) {
                <div class="form-text text-danger fw-bold">Title is a required field</div>
              }
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control" id="price" placeholder="Price" formControlName="price">
              @if (expenseForm.get('price')?.hasError('required') && expenseForm.get('price')?.touched) {
                <div class="form-text text-danger fw-bold">Price is a required field</div>
              }
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea type="password" class="form-control" id="description" formControlName="description"></textarea>
              @if (expenseForm.get('description')?.hasError('forbiddenName') && expenseForm.get('description')?.touched) {
                <div class="form-text text-danger fw-bold">Contains an illegal name</div>
              }
            </div>
            <button type="submit" class="btn btn-success" (click)="$event.preventDefault(); updateExpense()">Save Changes</button> 
          </form>
          @if (unauthorised) {
            <div class="form-text text-danger fw-bold">Unauthorised!  Please login to add/update items.</div>
          }
    </div>
</div>